@media (min-width: 0px) and (max-width: 414px) {

  .modal_wrap>#signup_form {
    flex: 1;
    /* margin-bottom:20vh; */
  }

  .social_btn_group {
    flex: 0;

  }
}

@media (min-width: 415px) {

  .modal_wrap>#signup_form {
    flex: 2;
    margin-bottom: 4vh;
  }

  .social_btn_group {
    flex: 1;

  }
}

.modal_wrap>#signup_form {
  justify-content: center;
}





#signup_form>.forgot {
  font-size: 1.1vh;
  color: inherit;
  text-decoration: none;
  margin: 1rem auto 0 auto;
}

#signup_form>.forgot:hover {
  text-decoration: underline;
}

/* Social signup Buttons*/
.social_btn_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social_btn_group>* {
  border-radius: 5rem;
  padding: 1vh 0 1vh 0;
  margin-bottom: 2vh;
}

.github_signup {
  background: #24292e;
}

.google_signup {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.github_signup>*,
.google_signup>* {
  height: 3vh;
}
