<<<<<<< HEAD
@media (min-width: 0px) and (max-width: 414px) {

  .modal_wrap>#signup_form {
    flex: 1;
    /* margin-bottom:20vh; */
  }

  .social_btn_group {
    flex: 0;

  }
}

@media (min-width: 415px) {

  .modal_wrap>#signup_form {
    flex: 2;
    margin-bottom: 4vh;
  }

  .social_btn_group {
    flex: 1;

  }
}

.modal_wrap>#signup_form {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#signup_form>.modal_input {
  border-radius: 5rem;
  padding: 0 1rem 0 1rem;
  display: block;
  height: 5vh;
  background: #fff;
  margin: 0 0 1vh 0;
  box-shadow: 0px 1px 1px 0px gray;

}

#signup_form>.modal_input:hover {
  box-shadow: 0px 2px 2px 1px rgba(4, 5, 9, 0.3);
}

#signup_form>.signup_btn {
  width: 20vh;
  height: 4vh;
  margin: 4vh auto 0 auto;
  background: rgba(255, 166, 0, 0.7);
  border-radius: 5rem;
  font-weight: bold;
}

#signup_form>.signup_btn:hover {
  background: rgba(255, 166, 0, 0.75);
  box-shadow: 0px 2px 2px 1px rgba(4, 5, 9, 0.3);
}

#signup_form>.forgot {
  font-size: 1.1vh;
  color: inherit;
  text-decoration: none;
  margin: 1rem auto 0 auto;
}

#signup_form>.forgot:hover {
  text-decoration: underline;
}

/* Social signup Buttons*/
.social_btn_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social_btn_group>* {
  border-radius: 5rem;
  padding: 1vh 0 1vh 0;
  margin-bottom: 2vh;
}

.github_signup {
  background: #24292e;
}

.google_signup {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.github_signup>*,
.google_signup>* {
  height: 3vh;
}
=======
@media (min-width: 0px) and (max-width: 414px){

    .modal_wrap>#signup_form {
        flex:1;
        margin-bottom:20vh;
    }
    .social_btn_group{
        flex:0;
        
    }
}
@media (min-width: 415px){
    
    .modal_wrap>#signup_form {
        flex:2;
        margin-bottom:4vh;
    }
    .social_btn_group{
        flex:1;
        
    }
}
.modal_wrap>#signup_form{
    border-radius: inherit;
    display:flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    justify-content:center;
}
#signup_form>.modal_input{
    border-radius: 5rem;
    padding: 0 1rem 0 1rem;
    display:block;
    height:5vh;
    background:#fff;
    margin: 0 0 1vh 0;
    box-shadow: 0px 1px 1px 0px gray;

}
#signup_form>.modal_input:hover{
    box-shadow: 0px 2px 2px 1px rgba(4,5,9,0.3);
}

#signup_form>.signup_btn{
    width: 20vh;
    height:4vh;
    margin:4vh auto 0 auto;
    background: rgba(255, 166, 0, 0.7);
    border-radius: 5rem;
    font-weight: bold;
}
#signup_form>.signup_btn:hover{
    background: rgba(255, 166, 0, 0.75);
    box-shadow: 0px 2px 2px 1px rgba(4,5,9,0.3);
}
#signup_form>.forgot{
    font-size: 1.1vh;
    color:inherit;
    text-decoration: none;
    margin:1rem auto 0 auto;
}
#signup_form>.forgot:hover{
    text-decoration: underline;
}
/* Social signup Buttons*/
.social_btn_group{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.social_btn_group>*{
    border-radius: 5rem;
    padding: 1vh 0 1vh 0;
    margin-bottom:2vh;
}
.github_signup{
    background:#24292e;
}

.google_signup{
    background:white;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.github_signup>*
,.google_signup>*{
    height:3vh;
}
>>>>>>> develop
