@media (min-width: 0px) and (max-width: 414px) {

  nav.techlist--opened,
  nav.techlist__innerwrap--opened {
    width: 100vw;
  }

  button.techlist--removed,
  ul.techlist--removed {
    display: none;
  }
}

@media (min-width: 415px) {

  nav.techlist--opened,
  nav.techlist__innerwrap--opened {
    width: 20rem;
  }
}

.techlist {
  position: relative;
  padding-top: 4vh;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  transition: all 0.6s ease;
  height: inherit;
  width: 0;
  opacity: 0;
}

nav.techlist--opened {
  display: unset;
  opacity: 1;
}

.techlist__innerwrap {
  height: 100%;
  transition-delay: 0s;
  opacity: inherit;
}

nav.techlist__innerwrap--opened {
  display: unset;
  transition-delay: 0.23s;
  opacity: 1;
}

.techlist__closer {
  background: transparent;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
}

.techlist__closer>i {
  font-size: 24px;
  transition: all 0.6s ease;
}

.techlist__closer>i:hover {
  font-weight: bold;
}


.techlist__innerwrap * {
  opacity: inherit;
}

.tech {
  overflow: auto;
  padding: 10px 15px 0 15px;
  height: inherit;
  width: 100%;
}

.tech>li:hover {

  cursor: pointer;
  box-shadow: 0 1px 4px 4px rgba(200, 200, 200, 0.5);
  /* 
  x-position : 가로 위치입니다. 양수면 오른쪽에, 음수면 왼쪽에 그림자가 만들어집니다. (필수)
  y-position : 세로 위치입니다. 양수면 아래쪽에, 음수면 위쪽에 그림자가 만들어집니다. (필수)
  blur : 그림자를 흐릿하게 만듭니다. 값이 클 수록 더욱 흐려집니다.
  spread : 양수면 그림자를 확장하고, 음수면 축소합니다.
  color : 그림자 색을 정합니다.
  */
}

.tech>li {
  list-style: none;
  padding: 12px 0 12px 0;
  margin: 0 0 9px 0;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}

.tech>li:last-child {
  border-bottom: none;
}

li>.tech_img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
}
